div {
    max-width: 400px;
    margin: 50px auto;
    padding: 5px;
    background-color: rgba(244, 248, 248, 0.37);
    box-shadow: 10px, 20px, 35px rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0);
    position: relative;
    z-index: 2;
    font-family: monospace;
    
    

}

 .result {
    font-family: monospace;
    overflow: hidden;
    height:1.1em;
    word-wrap: break-word;
    white-space: nowrap;
    animation: typing 4s steps(35) forwards;
    background-color: aliceblue;
    font-size: 17px;
   
  } 
  






 
button:hover {
    background-color: #00c52b;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #28a745;
    color: rgb(255, 255, 255);
    font-size: 25px;
    cursor: pointer;
    font-family: monospace;
}

h1 {
    max-width: 400px;
    font-size: 70px;
    margin: 50px auto;
    padding: 50px;
    border-color: rgba(0, 0, 0, 0.144);
    position: relative;
    z-index: 2;
    font-family: monospace;
    animation: colorChange 5s infinite; /* Animation name, duration, and repeat */
}

@keyframes colorChange {
    2% {
        color: rgba(255, 255, 255, 0.37);
    }
    50% {
        color: rgb(247, 151, 6);
    }
    100% {
        color: rgba(0, 0, 0, 0.575);
   }
    50% {
        color: rgba(255, 231, 17, 0.555);
   
    }
        }


input, select {
    width: calc(100% - 20px);
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #030303;
    border-radius: 10px;
}


video {
    object-fit: cover;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 170vh;
    width: 100vw;
    z-index: 1;
    opacity: 100%;
}





